.inverted-img {
    filter: brightness(0) invert(1);
}

.username-text {
    font-size: 200%;
    font-weight: 410;
    margin-top: 3%;
    margin-left: 5%;
}

.email-text {
    font-size: 140%;
    font-weight: 300;
    margin-top: 1%;
    margin-left: 5%;
}

.navbar.bg-light {
    width: 100%;
    background: linear-gradient(to right, #ffcce6, #fff0b3, #ccf2ff)!important;
}

/* Manual color for navbar-brand, activated nav-link and nav-link's focused state */
.navbar-light .navbar-brand, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link:focus {
    font-size: 16px;
}

.navbar-light .navbar-brand {
    font-size: 22px;
}

.navbar-light .margin-left {
    padding-left: 16%;
}

.note-action {
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: none;
    padding: 1%;
    background-color: #fff;
}

.register-card {
    padding: 1% 2%;
}

.card-title {
    font-size: 16px;
}

.note-action-btn, .note-action-btn:hover {
    margin-right: 2%;
    text-decoration: none;
    color: #000;
}

.margin-right {
    padding-right: 16%;
}

.col-pl-16 {
    padding-top: 1%;
    padding-left: 16%;
}

.col-pr-16 {
    padding-top: 1%;
    padding-right: 16%;
}

.sidebar-link {
    text-decoration: none;
    color: #000;
}

.sidebar-link:hover {
    text-decoration: none;
    font-weight: 500;
}

/* For changing default hovering effect color from #000 to #fff */
.navbar-light .navbar-nav .nav-link:hover {
    font-weight: 600;
}

/* Hovering efect for navbar-brand */
.navbar-light .navbar-brand:hover{
    font-weight: 500;
}

.border {
    padding: 0px 10px;
    border: 1px solid!important;
    border-radius: 8px;
    text-align: center;
}

.card-custom-header {
    padding-top: 1%;
    padding-bottom: 1%;
}

.note-header {
    font-size: 120%;
    font-weight: 350;
}

.note-title {
    font-size: 170%;
    font-weight: 500;
}

/* Image section */
.note-header-img {
    width: 10%;
}

.note-author-img {
    border-radius: 50%;
    object-fit: cover;
    height: 45px;
    width: 45px;
}

.profile-picture {
    height: 125px;
    width: 125px;
}

.profile-dropdown {
    height: 25px;
    width: 25px;
}

/* Buttons */
.btn-dropdown:hover {
    color: #6c757d;
    background-color: transparent;
}

.anchor-note-update {
    text-decoration: none;
    color: #000;
    font-size: 70%;
}

.anchor-note-update:hover {
    text-decoration: none;
}

.anchor-note-username {
    text-decoration: none;
    color: #000;
    font-size: 90%;
}

.anchor-note-username:hover {
    text-decoration: none;
}

.card-body {
    padding: 1% 2% 1% 2%;
}

.action-btns {
    padding-top: 2%;
}