{% extends "layout.html" %}

{% block content %}
    <div class="col-md-8 ml-16-manual">
        {% for note in notes %}
            <div class="card card-note mb-md-2">
                <h5 class="card-header">{{ note.title }}</h5>
                <div class="card-body">
                    <h5 class="card-title">By {{ note.author }}</h5>
                    <p class="card-text">{{ note.content }}</p>
                </div>
                <div class="card-header note-action">
                    <a class="note-action-btn" href="#"><img src="{{ url_for('static', filename='Icons/heart.svg') }}" alt="Like"> 0 </a>
                    <a class="note-action-btn" href="#"><img src="{{ url_for('static', filename='Icons/message-circle.svg') }}" alt="Comment"> 0 </a>
                    <a class="note-action-btn" href="#"><img src="{{ url_for('static', filename='Icons/share.svg') }}" alt="Share"> 0 </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-md-4 mr-16-manual">
        <div class="card card-note">
                <div class="card-header" style="font-size: 18px;"><strong>Jump to...</strong></div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#" class="sidebar-link">Latest notes</a></li>
                    <li class="list-group-item"><a href="#" class="sidebar-link">Earlier notes</a></li>
                    <li class="list-group-item"><a href="#" class="sidebar-link">Top notes</a></li>
                </ul>
        </div>
    </div>
{% endblock content %}