{% extends "layout.html" %}

{% block content %}
    <div class="col-md-8 col-pl-16">
        <div class="card register-card">
            <div class="card-body">
                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group mb-2">
                        <legend class="border-bottom mb-3 pb-2">Reset Password</legend>
                        <div class="form-group mb-2">
                            {{ form.password.label(class="form-control-label mb-0") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}  
                                    </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg", autocomplete="off") }}
                            {% endif %}
                        </div>
                        <div class="form-group mb-2">
                                {{ form.confirm_password.label(class="form-control-label mb-0") }}
                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.confirm_password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}  
                                        </div>
                                {% else %}
                                    {{ form.confirm_password(class="form-control form-control-lg", autocomplete="off") }}
                                {% endif %}
                            </div>
                    </fieldset>
                    <div class="form-group mb-2">
                        {{ form.submit(class='btn btn-outline-info') }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}